body {
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.avatar {
    width: 150px;
    border-radius: 10px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #f7b267;
    color: #2b2839;
    border-bottom: 6px solid #f79d65;
    border-radius: 20px;
    flex-direction: row-reverse;
    animation-name: example;
    animation-duration: 4s;
    box-shadow: 2px 2px;
        
}

@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

div:hover{
    background-color: red;
}



